html,body {
	height:100%;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix { display: inline-block; }

body {
	color:#777777;
	text-align: center;
	background: #ffffff;
	padding: 0;
	margin:0px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
}
header {
	height: 87px;
	width:100%;
}

h1, h2 {
	font-family: 'Georgia', Times, Times New Roman, serif; 
	font-weight: bold;
	line-height: 1em;
}
h1{
	color:#ffffff;
	background: #4aaaa5;
	display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;}
h1 a{
	text-decoration: none;
	color:#ffffff;

}
h2{
	color: #4aaaa5;
	padding-left: 20px;
	font-size:1.5em;
	display: block;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
header h1 {
	width: 20%;
	float:left;
	margin:0;
	padding: 35px 0 25px 0;
	margin-left: 20%;
}
header nav {
	float:right;
	padding: 47px 0 25px 0;
	margin-right: 20%;
}
nav a {
	color:#9a9a9a;
	font-size:20px;
	text-decoration: none;
	padding: 15px 10px 5px 10px;
	vertical-align: center;
}
nav a:hover{
	color:#5E7F7E;
}
.image img {
	width:200px;
	height:auto;
	float:left;
	margin: 25px 25px 25px 25px;
}
.container {
	text-align: left;
	float:left;
	padding:0 15% 0 15%;
	height: auto;
	background-image: url(../images/round.png);
	background-repeat: repeat;
	border-top: solid #cccccc;
}
.container h2 {
	text-align: left;
}
.container .left {
	float:left;
	width: 650px;
	background: #ffffff;
	margin: 50px 0 50px 0;
	border:solid lightgray 1px;

}
.container .right {
	background: #ffffff;
	margin: 50px 0 50px 15px;
	float:left;
	width:270px;
	border: solid #cccccc;
	margin-left: 50px;
	border:solid lightgray 1px;
}
.container .text, .container .portfolio, .container form {
	line-height: 2;
	margin: 25px 10px 25px 10px;
	border-top: solid #cccccc;
	padding-top: 25px;
	color: #9a9a9a;
}
.text p {
	margin: 0 0 0 0;
}

.container .social {
	margin-bottom: 25px;
	
}
.image-container {
	border-top: solid #cccccc;
	margin: 25px 25px 25px 25px;
	padding-top: 25px;
}
.social img {
	width:65px;
	height: auto;
}
.social img:hover{
	background: #4aaaa5;
}
.footer {
	position: fixed;
	bottom: 0;
	width:100%;
	text-align:center;
	background: #666666;
	color: #b7b7b7;
	height:100px;
	border-top: solid 8px #4aaaa5;
}
.footer p {
	text-align: center;
	margin-top:40px;
}
.portfolio .item {
	float:left;
	width:50%;
	height:426px;
	display: block;
	position: relative;
}
.portfolio img {
	width:300px;
	height:auto;
	opacity: 1;
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;

}
.portfolio img:hover {
	  opacity:0.6;
}

.portfolio .desc {
	background:#4aaaa5;
	width:95.2%;
	height:40px;
	padding-top: 15px;
	text-align: center;
	position: absolute;
	bottom:71px;
	left:0;
	color:white;
}
#btnSubmit {
	padding:10px 18px 10px 18px;
	color:white;
	background: #4aaaa5;
	border:none;
	font-size:20px;
	margin-left:10px;
}
#btnSubmit:hover {
	background:#5E7F7E; 
}

form label, form input, form textarea {
	margin-left: 10px;

}

form label {
	color: #777777;
}

form input, form textarea {
	width: 500px;
	margin-bottom: 15px;
	padding-left: 15px;
	border:solid #dddddd 1px;
}
form input {
	height:35px;
}

form textarea {
	height:150px;
}
